<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="static/assets/img/favicon.png" type="image/x-icon">
  <link rel="icon" href="static/assets/img/favicon.png" type="image/x-icon">

  <title>Rastro Soluções Sustentáveis</title>

  <!-- Bootstrap core CSS -->
  <link href="static/assets/css/bootstrap.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="static/assets/css/style.css" rel="stylesheet">
  <link href="static/assets/css/font-awesome.min.css" rel="stylesheet">
  <link href="static/styles/custom-style.css" rel="stylesheet">

  <!-- Just for debugging purposes. Don't actually copy this line! -->
  <!--[if lt IE 9]><script src="../../static/assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

  <script src="static/assets/js/modernizr.js"></script>
</head>

<body>

  {% include "menu.html"%}

  <div class="container" id="services">
    <div class="row">

      <div class="col-md-6">
        <h4>EDUCAÇÃO</h4>
        <h5>Capacitações - para gestões focadas em sustentabilidade</h5>
        <ul>
          <li>Como formar Líderes em Sustentabilidade</li>
          <li>Ferramentas de Gestão em Sustentabilidade</li>
          <li>Como o RH pode implementar a Cultura da Sustentabilidade</li>
          <li>Desafios de Gestão da Sustentabilidade nos Negócios</li>
          <li>Como tornar seu Negócio Sustentável</li>
          <li>Diferenciais estratégicos da Comunicação para a Sustentabilidade</li>
          <li>Logística Reversa como diferencial competitivo</li>
          <li>Programa Lixo Zero: Como implementar na sua organização</li>
          <li>Ecodesign: Ferramenta para a Sustentabilidade</li>
          <li>O Papel do Gestor Público para o Desenvolvimento Sustentável</li>
          <li>A Política Nacional de Resíduos Sólidos e os impactos nos Negócios</li>
          <li>Lixo Zero na Construção Civil</li>
          <li>Produção mais Limpa</li>
        </ul>
        <h5>Palestras - para desenvolvimento pessoal</h5>
        <ul>
          <li>Inovar para Sustentar</li>
          <li>Lixo Zero - o que é e por onde começar</li>
          <li>Consumo Consciente</li>
          <li>Alimentação Sustentável</li>
          <li>Introdução à Permacultura</li>
          <li>Mobilidade Urbana </li>
          <li>Espaços Compartilhados e a Sustentabilidade</li>
          <li>Water Thinking - repensando a água</li>
          <li>Hortas Urbanas </li>
          <li>Objetivos do Desenvolvimento Sustentável</li>
          <li>Alfabetização Ecológica</li>
          <li>Design para a Sustentabilidade</li>
          <li>Sustentabilidade para Florescer </li>
        </ul>
        <h5>Oficinas - para colocar a mão na massa</h5>
        <ul>
          <li>Compostagem doméstica</li>
          <li>Produtos de limpeza sustentáveis</li>
          <li>É Reciclável? Conhecendo os resíduos sólidos</li>
          <li>Cosméticos naturais</li>
          <li>Mãos à horta</li>
        </ul>
        <h5>Planos de Educação para empresas e escolas</h5>
        <ul>
          <li>Conectamos diversos conceitos para sensibilizar e despertar a consciência.</li>
          <li>Aplicamos programas continuados através de diferentes metodologias.</li>
          <li>Personalizamos temas e conteúdos à diferentes realidades, empresas, escolas e demais organizações.</li>
        </ul>

        <h5>Desenvolvimento de Material Educacional Personalizado</h5>
        <ul>
          <li>Para integrar as ações em sustentabilidade desenvolvemos materiais educativos personalizados.</li>
          <li>Desenvolvemos campanhas de sensibilização.</li>
          <li>Criamos newsletters e artigos com temas relacionados a sustentabilidade.</li>
          <li>Personalizamos identificações, cartilhas, folders, e outros formatos com design diferenciado.</li>
        </ul>
      </div>

      <div class="col-md-6">

        <h4>CONSULTORIA</h4>
        <ul>
          <li>Formação e acompanhamento de Comitês de Sustentabilidade</li>
          <li>Assessoria no desenvolvimento de projetos para terceiro setor e escolas</li>
          <li>Ecodesign para produtos e serviços</li>
          <li>Organização e implantação de projetos de voluntariado corporativo.</li>
        </ul>

        <h4>PROGRAMAS LIXO ZERO</h4>
        <ul>
          <li>Escolas e Universidades</li>
          <li>Escritórios e empresas</li>
          <li>Condomínios residenciais </li>
          <li>Eventos * Feiras, exposições, congressos... </li>
          <li>Instituições Públicas - Casa da Cultura, Museus, escritórios... </li>
        </ul>

        <h4>AÇÕES EM SUSTENTABILIDADE</h4>
        <ul>
          <li>Balcão da sustentabilidade para eventos e SIPAS</li>
          <li>Semana Lixo Zero Joinville</li>
          <li>Ações de Responsabilidade Social Corporativa</li>
          <li>Rota da Sustentabilidade</li>
          <li>Intervenções de Conscientização</li>
        </ul>

        <h4>PARA ESCOLAS</h4>
        <ul>
          <li>Sensibilização: oficinas, palestras, capacitações</li>
          <li>Programas Lixo Zero</li>
          <li>Formação e acompanhamento de Comitês de Sustentabilidade</li>
          <li>Desenvolvimento de hortas e compostagem</li>
          <li>Planos de Educação para Sustentabilidade</li>
        </ul>
      </div>
    </div>
  </div>

  {% include "footer.html"%}

  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="static/assets/js/bootstrap.min.js"></script>
  <script src="static/assets/js/retina-1.1.0.js"></script>
  <script src="static/assets/js/jquery.hoverdir.js"></script>
  <script src="static/assets/js/jquery.hoverex.min.js"></script>
  <script src="static/assets/js/jquery.prettyPhoto.js"></script>
  <script src="static/assets/js/jquery.isotope.min.js"></script>
  <script src="static/assets/js/custom.js"></script>


</body>
</html>
