<div id="footerwrap">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <h4>Fliperama Espaço Colaborativo</h4>
        <div class="hline-w"></div>
        <p>Estamos num coworking! A Rastro conta com uma estrutura física e intelectual diferenciada no mercado. São diversas empresas de diferentes setores contribuindo mutuamente para o desenvolvimento coletivo.</p>
      </div>
      <div class="col-lg-4">
        <h4>Redes Sociais</h4>
        <div class="hline-w"></div>
        <p>
          <!--<a target="_blank" href="#()"><i class="fa fa-dribbble"></i></a>-->
          <a target="_blank" href="https://www.facebook.com/rastro.eco.br"><i class="fa fa-facebook"></i></a>
          <!--<a target="_blank" href="#()"><i class="fa fa-twitter"></i></a>-->
          <a target="_blank" href="https://www.instagram.com/rastro.eco.br/"><i class="fa fa-instagram"></i></a>
          <a target="_blank" href="https://www.linkedin.com/company-beta/16176463/"><i class="fa fa-linkedin"></i></a>
        </p>
      </div>
      <div class="col-lg-4">
        <h4>Contato</h4>
        <div class="hline-w"></div>
        <p>
          Rua Orestes Guimarães 876 - América<br/>
          Edifício Oscar Bornholdt - Joinville | Santa Catarina<br/>
          (47) 3029-5060 | contato@rastro.eco.br<br/>
        </p>
      </div>

    </div><! --/row -->
  </div><! --/container -->
</div><! --/footerwrap -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-54376646-3', 'auto');
  ga('send', 'pageview');

</script>
