<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <link rel="shortcut icon" href="static/assets/img/favicon.png" type="image/x-icon">
  <link rel="icon" href="static/assets/img/favicon.png" type="image/x-icon">

  <title>Rastro Soluções Sustentáveis</title>

  <!-- Bootstrap core CSS -->
  <link href="static/assets/css/bootstrap.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="static/assets/css/style.css" rel="stylesheet">
  <link href="static/assets/css/font-awesome.min.css" rel="stylesheet">
  <link href="static/styles/custom-style.css" rel="stylesheet">

  <meta property="og:image" content="static/assets/img/browser.jpg">
  <meta property="og:image:type" content="image/jpeg">

  <!-- Just for debugging purposes. Don't actually copy this line! -->
  <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

  <script src="static/assets/js/modernizr.js"></script>
</head>

<body>

  {% include "menu.html"%}

  <!-- *****************************************************************************************************************
  HEADERWRAP
  ***************************************************************************************************************** -->
  <div id="headerwrap">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <h1>Sustentabilidade é uma questão de ética.</h1>
          <h5>Não há melhor razão para fazer algo pelo bem das pessoas e das futuras gerações, do que fazer a coisa certa.</h5>
        </div>
        <div class="col-lg-8 col-lg-offset-2 himg">
          <img src="static/assets/img/site-rastro.png" class="img-responsive">
        </div>
      </div><!-- /row -->
    </div> <!-- /container -->
  </div><!-- /headerwrap -->

  <!-- *****************************************************************************************************************
  SERVICE LOGOS
  ***************************************************************************************************************** -->
  <div id="service">
    <div class="container">
      <div class="row centered">
        <div class="col-md-3">
          <i class="fa fa-line-chart"></i>
          <h4>CONSULTORIA</h4>
          <p class="service-description">Implementamos a sustentabilidade através de técnicas que criam valor e diferencial competitivo. Criamos a cultura de sustentabilidade aplicando-a à comportamentos, serviços, produtos e processos, por meio de projetos desenhados para a sua organização.</p>
          <p><br/><a href="servicos" class="btn btn-theme">Saiba mais</a></p>
        </div>
        <div class="col-md-3">
          <i class="fa fa-users"></i>
          <h4>EDUCAÇÃO</h4>
          <p class="service-description">Acreditamos no poder de transformação criado pela união entre educação e sustentabilidade. Nossos conteúdos educacionais são direcionados para desenvolvimento pessoal, gestões focadas em sustentabilidade e sustentabilidade na prática.</p>
          <p><br/><a href="servicos" class="btn btn-theme">Saiba mais</a></p>
        </div>
        <div class="col-md-3">
          <i class="fa fa-recycle"></i>
          <h4>PROGRAMAS LIXO ZERO</h4>
          <p class="service-description">Metodologia desenvolvida para tornar empresas, eventos, condomínios e escolas lixo zero. O principal objetivo é desviar os resíduos de aterros e lixões garantindo a reciclagem tornando seu negócio muito mais sustentável.</p>
          <p><br/><a href="servicos" class="btn btn-theme">Saiba mais</a></p>
        </div>
        <div class="col-md-3">
          <i class="fa fa-tree"></i>
          <h4>AÇÕES EM SUSTENTABILIDADE</h4>
          <p class="service-description">Sensibilização e engajamento do público alvo através de ações dinâmicas personalizadas. Idealizamos, planejamos, comunicamos e executamos os projetos juntos com você!</p>
          <p><br/><a href="servicos" class="btn btn-theme">Saiba mais</a></p>
        </div>
      </div>
    </div>
  </div>

  <!-- *****************************************************************************************************************
  PORTFOLIO SECTION
  ***************************************************************************************************************** -->
  <div id="portfoliowrap">


    <div class="portfolio-centered">
      <div class="recentitems portfolio">

        <div class="portfolio-item books">
          <div class="he-wrap tpl6">
            <img src="static/assets/img/portfolio/07.jpg" alt="">
            <div class="he-view">
              <div class="bg a0" data-animate="fadeIn">
                <h3 class="a1" data-animate="fadeInDown">Capacitação de Equipes</h3>
                <a data-rel="prettyPhoto" title="Capacitação de Equipes" href="static/assets/img/portfolio/07Z.jpg" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-search"></i></a>
                <!-- <a href="single-project.html" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-link"></i></a> -->
              </div><!-- he bg -->
            </div><!-- he view -->
          </div><!-- he wrap -->
        </div><!-- end col-12 -->

        <div class="portfolio-item web-design">
          <div class="he-wrap tpl6">
            <img src="static/assets/img/portfolio/02.jpg" alt="">
            <div class="he-view">
              <div class="bg a0" data-animate="fadeIn">
                <h3 class="a1" data-animate="fadeInDown">Produção mais Limpa</h3>
                <a data-rel="prettyPhoto" title="Produção mais Limpa" href="static/assets/img/portfolio/02Z.jpg" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-search"></i></a>
                <!-- <a href="single-project.html" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-link"></i></a> -->
              </div><!-- he bg -->
            </div><!-- he view -->
          </div><!-- he wrap -->
        </div><!-- end col-12 -->

        <div class="portfolio-item graphic-design">
          <div class="he-wrap tpl6">
            <img src="static/assets/img/portfolio/03.jpg" alt="">
            <div class="he-view">
              <div class="bg a0" data-animate="fadeIn">
                <h3 class="a1" data-animate="fadeInDown">Oficinas para crianças</h3>
                <a data-rel="prettyPhoto" title="Oficinas para crianças" href="static/assets/img/portfolio/03Z.jpg" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-search"></i></a>
                <!-- <a href="single-project.html" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-link"></i></a> -->
              </div><!-- he bg -->
            </div><!-- he view -->
          </div><!-- he wrap -->
        </div><!-- end col-12 -->

        <div class="portfolio-item graphic-design">
          <div class="he-wrap tpl6">
            <img src="static/assets/img/portfolio/04.jpg" alt="">
            <div class="he-view">
              <div class="bg a0" data-animate="fadeIn">
                <h3 class="a1" data-animate="fadeInDown">Oficinas de Horta e Compostagem</h3>
                <a data-rel="prettyPhoto" title="Oficinas de Horta e Compostagem" href="static/assets/img/portfolio/04Z.jpg" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-search"></i></a>
                <!-- <a href="single-project.html" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-link"></i></a> -->
              </div><!-- he bg -->
            </div><!-- he view -->
          </div><!-- he wrap -->
        </div><!-- end col-12 -->

        <div class="portfolio-item books">
          <div class="he-wrap tpl6">
            <img src="static/assets/img/portfolio/05.jpg" alt="">
            <div class="he-view">
              <div class="bg a0" data-animate="fadeIn">
                <h3 class="a1" data-animate="fadeInDown">Formação para Professores</h3>
                <a data-rel="prettyPhoto" title="Formação para Professores" href="static/assets/img/portfolio/05Z.jpg" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-search"></i></a>
                <!-- <a href="single-project.html" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-link"></i></a> -->
              </div><!-- he bg -->
            </div><!-- he view -->
          </div><!-- he wrap -->
        </div><!-- end col-12 -->

        <div class="portfolio-item graphic-design">
          <div class="he-wrap tpl6">
            <img src="static/assets/img/portfolio/06.jpg" alt="">
            <div class="he-view">
              <div class="bg a0" data-animate="fadeIn">
                <h3 class="a1" data-animate="fadeInDown">Comitês de Sustentabilidade</h3>
                <a data-rel="prettyPhoto" title="Comitês de Sustentabilidade" href="static/assets/img/portfolio/06Z.jpg" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-search"></i></a>
                <!-- <a href="single-project.html" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-link"></i></a> -->
              </div><!-- he bg -->
            </div><!-- he view -->
          </div><!-- he wrap -->
        </div><!-- end col-12 -->

        <div class="portfolio-item web-design">
          <div class="he-wrap tpl6">
            <img src="static/assets/img/portfolio/01.jpg" alt="">
            <div class="he-view">
              <div class="bg a0" data-animate="fadeIn">
                <h3 class="a1" data-animate="fadeInDown">Programas Lixo Zero</h3>
                <a data-rel="prettyPhoto" title="Programas Lixo Zero" href="static/assets/img/portfolio/01Z.jpg" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-search"></i></a>
                <!-- <a href="single-project.html" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-link"></i></a> -->
              </div><!-- he bg -->
            </div><!-- he view -->
          </div><!-- he wrap -->
        </div><!-- end col-12 -->


        <div class="portfolio-item graphic-design">
          <div class="he-wrap tpl6">
            <img src="static/assets/img/portfolio/08.jpg" alt="">
            <div class="he-view">
              <div class="bg a0" data-animate="fadeIn">
                <h3 class="a1" data-animate="fadeInDown">Balcão da Sustentabilidade</h3>
                <a data-rel="prettyPhoto" title="Balcão da Sustentabilidade" href="static/assets/img/portfolio/08Z.jpg" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-search"></i></a>
                <!-- <a href="single-project.html" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-link"></i></a> -->
              </div><!-- he bg -->
            </div><!-- he view -->
          </div><!-- he wrap -->
        </div><!-- end col-12 -->

        <div class="portfolio-item graphic-design">
          <div class="he-wrap tpl6">
            <img src="static/assets/img/portfolio/09.jpg" alt="">
            <div class="he-view">
              <div class="bg a0" data-animate="fadeIn">
                <h3 class="a1" data-animate="fadeInDown">#()RastroSocial na Cooperativa</h3>
                <a data-rel="prettyPhoto" title="#()RastroSocial na Cooperativa" href="static/assets/img/portfolio/09Z.jpg" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-search"></i></a>
                <!-- <a href="single-project.html" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-link"></i></a> -->
              </div><!-- he bg -->
            </div><!-- he view -->
          </div><!-- he wrap -->
        </div><!-- end col-12 -->



        <div class="portfolio-item books">
          <div class="he-wrap tpl6">
            <img src="static/assets/img/portfolio/10.jpg" alt="">
            <div class="he-view">
              <div class="bg a0" data-animate="fadeIn">
                <h3 class="a1" data-animate="fadeInDown">#()RastroSocial na BMW</h3>
                <a data-rel="prettyPhoto" title="#()RastroSocial na BMW" href="static/assets/img/portfolio/10Z.jpg" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-search"></i></a>
                <!-- <a href="single-project.html" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-link"></i></a> -->
              </div><!-- he bg -->
            </div><!-- he view -->
          </div><!-- he wrap -->
        </div><!-- end col-12 -->

      </div><!-- portfolio -->
    </div><!-- portfolio container -->
  </div><!--/Portfoliowrap -->


  <!-- *****************************************************************************************************************
  MIDDLE CONTENT
  ***************************************************************************************************************** -->

  <div class="container mtb">
    <div class="row">
      <div class="col-lg-6 col-lg-offset-1">
        <h4>Mais sobre a Rastro:</h4>
        <p>Desafiada por problemas ambientais e sociais, a Rastro surge como resposta para o desenvolvimento de soluções e ferramentas focadas em sustentabilidade. Promovemos o desenvolvimento sustentável, redefinindo conceitos, afim de gerar valor e diferencial competitivo para serviços, produtos e processos.</p>
        <p><br/><a href="sobre" class="btn btn-theme">Saiba mais</a></p>
      </div>


      <div class="col-lg-5 blog">
        <h4>Últimos Posts</h4>
        <div class="hline"></div>
        <p><a target="_blank" href="https://medium.com/@rastro.eco.br/recicla-ou-não-recicla-daaa409de66c">Recicla ou não recicla?</a></p>
        <p><a target="_blank" href="https://medium.com/@rastro.eco.br/condom%C3%ADnios-sustent%C3%A1veis-33fb2aff3011">Condomínios Sustentáveis</a></p>
        <p><a target="_blank" href="https://medium.com/@rastro.eco.br/dia-mundial-da-%C3%A1gua-e1e2c2387aeb">Dia Mundial da Água</a></p>
        <p><a target="_blank" href="https://medium.com/@rastro.eco.br/precisamos-falar-de-lixo-e49c0840a829#.uom5e2iuo">Precisamos falar de lixo…</a></p>

      </div>

    </div><! --/row -->
  </div><! --/container -->

  <!-- *****************************************************************************************************************
  TESTIMONIALS
  ***************************************************************************************************************** -->
  <!-- <div id="twrap">
    <div class="container centered">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <i class="fa fa-comment-o"></i>
          <p>"Não há felicidade maior do que ser capaz de trabalhar por toda humanidade e fazer bem o que se está fazendo"</p>
          <h4><br/>― R. Buckminster Fuller</h4>
        </div>
      </div><! --/row -->
    </div><! --/container -->
  </div><! --/twrap -->

  <!-- *****************************************************************************************************************
  OUR CLIENTS
  ***************************************************************************************************************** -->
  <div id="cwrap">
    <div class="container">
      <div class="row centered">
        <h3>CLIENTES E PARCEIROS</h3>
        <div class="col-lg-2 col-md-2 col-sm-2 client-logo">
          <img src="static/assets/img/clients/01.png" class="img-responsive">
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 client-logo">
          <img src="static/assets/img/clients/02.png" class="img-responsive">
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 client-logo">
          <img src="static/assets/img/clients/03.png" class="img-responsive">
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 client-logo">
          <img src="static/assets/img/clients/04.png" class="img-responsive">
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 client-logo">
          <img src="static/assets/img/clients/05.png" class="img-responsive">
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 client-logo">
          <img src="static/assets/img/clients/06.png" class="img-responsive">
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 client-logo">
          <img src="static/assets/img/clients/07.png" class="img-responsive">
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 client-logo">
          <img src="static/assets/img/clients/08.png" class="img-responsive">
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 client-logo">
          <img src="static/assets/img/clients/09.png" class="img-responsive">
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 client-logo">
          <img src="static/assets/img/clients/10.png" class="img-responsive">
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 client-logo">
          <img src="static/assets/img/clients/11.png" class="img-responsive">
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 client-logo">
          <img src="static/assets/img/clients/12.png" class="img-responsive">
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 client-logo">
          <img src="static/assets/img/clients/13.png" class="img-responsive">
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 client-logo">
          <img src="static/assets/img/clients/14.png" class="img-responsive">
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 client-logo">
          <img src="static/assets/img/clients/15.png" class="img-responsive">
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 client-logo">
          <img src="static/assets/img/clients/16.png" class="img-responsive">
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 client-logo">
          <img src="static/assets/img/clients/17.png" class="img-responsive">
        </div>
      </div><! --/row -->
    </div><! --/container -->
  </div><! --/cwrap -->

  <!-- *****************************************************************************************************************
  FOOTER
  ***************************************************************************************************************** -->
  {% include "footer.html"%}

  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="static/assets/js/bootstrap.min.js"></script>
  <script src="static/assets/js/retina-1.1.0.js"></script>
  <script src="static/assets/js/jquery.hoverdir.js"></script>
  <script src="static/assets/js/jquery.hoverex.min.js"></script>
  <script src="static/assets/js/jquery.prettyPhoto.js"></script>
  <script src="static/assets/js/jquery.isotope.min.js"></script>
  <script src="static/assets/js/custom.js"></script>


  <script>
  // Portfolio
  (function($) {
    "use strict";
    var $container = $('.portfolio'),
    $items = $container.find('.portfolio-item'),
    portfolioLayout = 'fitRows';

    if( $container.hasClass('portfolio-centered') ) {
      portfolioLayout = 'masonry';
    }

    $container.isotope({
      filter: '*',
      animationEngine: 'best-available',
      layoutMode: portfolioLayout,
      animationOptions: {
        duration: 750,
        easing: 'linear',
        queue: false
      },
      masonry: {
      }
    }, refreshWaypoints());

    function refreshWaypoints() {
      setTimeout(function() {
      }, 1000);
    }

    $('nav.portfolio-filter ul a').on('click', function() {
      var selector = $(this).attr('data-filter');
      $container.isotope({ filter: selector }, refreshWaypoints());
      $('nav.portfolio-filter ul a').removeClass('active');
      $(this).addClass('active');
      return false;
    });

    function getColumnNumber() {
      var winWidth = $(window).width(),
      columnNumber = 1;

      if (winWidth > 1200) {
        columnNumber = 5;
      } else if (winWidth > 950) {
        columnNumber = 4;
      } else if (winWidth > 600) {
        columnNumber = 3;
      } else if (winWidth > 400) {
        columnNumber = 2;
      } else if (winWidth > 250) {
        columnNumber = 1;
      }
      return columnNumber;
    }

    function setColumns() {
      var winWidth = $(window).width(),
      columnNumber = getColumnNumber(),
      itemWidth = Math.floor(winWidth / columnNumber);

      $container.find('.portfolio-item').each(function() {
        $(this).css( {
          width : itemWidth + 'px'
        });
      });
    }

    function setPortfolio() {
      setColumns();
      $container.isotope('reLayout');
    }

    $container.imagesLoaded(function () {
      setPortfolio();
    });

    $(window).on('resize', function () {
      setPortfolio();
    });
  })(jQuery);
  </script>
</body>
</html>
